<div class="panel panel-default">
    <div class="panel-heading"><a href="{{ url('workshop', {'id': workshop.id}) }}">{{ workshop.title }}</a></div>
    <div class="panel-body">
        <p>{% if fullDescription is defined %}{{ workshop.description }}{% else %}{{ workshop.description | truncate(300) }}{% endif %}</p>
        <p><span style="font-weight: bold">Prowadzący:</span> {{ workshop.speaker.firstName ~ ' ' ~ workshop.speaker.lastName }}</p>

        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-success">Edit</button>
            <button type="button" class="btn btn-danger btn-small">Disable Registration</button>
        {% endif %}
    </div>
</div>